body {
    background-color: aqua;
}

.box {
    width:300px;
    height:150px;
    border:1px solid red;
    margin:50px;
}
#visible {
    color:blue;
    overflow:visible;
}
#hidden {
    color:green;
    overflow:hidden;
}

#scroll {
    color:black;
    overflow:scroll;
}
#auto {
    color:deeppink;
    overflow:auto;
}