.center{
    display:absolute;
    margin-left:auto;
    margin-right:auto;
    
}

.box1 {
    width:150px;
    height:150px;
    background-color:red;
    margin-bottom: 5px;
    transition-property:width;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay:1s;
    

}

.box1:hover {
    width:300px;
   
}

.box2 {
    width:150px;
    height:150px;
    background-color:blue;
    margin-bottom:5px;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay:1s;
}

.box2:hover {
    height: 300px;
}


.box3 {
    width:150px;
    height:150px;
    background-color:green;
    margin-top:5px;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay:1s;

}

.box3:hover {
    width:300px;
    height:300px;
}