body {
    background:black;
}

h1 {
    color: greenyellow;
}

p {
    color: red;
    margin: 15px 0;
}

button {
    background-color: rgb(51, 51, 1);
    color:white;
    border: none;
    padding: 5px 10px;
    margin-right: 15px;
}