body {
    background-color:beige;
}

.boxes > div {
    display:block;
    width:100px;
    height:100px;
    margin:auto;
    margin-bottom: 10px;
    background-color:black;
    
}

#square2 {
    opacity:0.7;
}

#square3 {
    opacity:0.5;
    
}

#square4 {
    opacity:0.2;
    
}