body{
    background-color: lightblue;
    color:black;
    text-align: center;
    font-size: 20px;
}
#container{
    text-align: left;
}
button{
    width: 120px;
    height: 70px;
    padding: 15px 15px;
    font-size: 20px;    
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: deeppink;
    border: none;
    border-radius: 15px;
}

button:hover {background-color: black}

button:active {
  background-color: darkgreen;
  transform: translateY(4px);   
}